.contactInfo {
    color: #c0bdbd;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }

    &__subtitle {
        font-size: 1.5rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    &__section {
        margin-bottom: 20px;
    }

    &__text {
        font-size: 16px;
        margin: 1rem 0;
        color: #a8a8a8;
    }

    &__text strong {
        font-weight: bold;
    }
}
