.footer {
    height: 5%;
    &__wrapper {
        max-width: 1200px;
        margin: auto;
        padding: 16px 0;
    }

    &__text {
        text-align: center;
        font-size: .9rem;
        @media (max-width: 768px) {
            width: 100%;
            text-align: center;
        }
    }
}
