#root {
    background-color: rgb(55, 53, 61);
    background: linear-gradient(to top right, #333 20%, #444 100%); /* Degradê sutil */

    font-family: "Playwrite GB S", cursive;
    color: #c0bdbd;

    display: flex;
    flex-direction: column;
    height: 100vh;

    @media (max-width: 576px) {
        height: 100%;
    }

    @media (max-width: 767px) {}

    @media (max-width: 991px) {}

    @media (max-width: 1199px) {}

    @media (max-width: 1399px) {}
}
