#root {
    background: linear-gradient(to left, #3545f7, #8732dd, #4572e1);
    // background: linear-gradient(to left, #2d2d30, #5f5f5f, #4e4f53); 
    font-family: "Poppins", serif;
    color: #c0bdbd;
    display: flex;
    flex-direction: column;
    height: 100vh;

    @media (max-width: 576px) {
        height: 100%;
    }

    @media (max-width: 767px) {}

    @media (max-width: 991px) {}

    @media (max-width: 1199px) {}

    @media (max-width: 1399px) {}
}
