#root {
    background: linear-gradient(to left, #3545f7, #8732dd, #4572e1);
    font-family: "Poppins", serif;
    color: $font-white;
    display: flex;
    flex-direction: column;
    height: 100vh;

    @media (max-width: 576px) {
        height: 100%;
    }

    @media (max-width: 767px) {}

    @media (max-width: 991px) {}

    @media (max-width: 1199px) {}

    @media (max-width: 1399px) {}
}
