.home {
    height: 100%;

    &__main {
        display: flex;
        height: 100%;

        @media (max-width: 576px) {
            flex-wrap: wrap;
            padding: 1rem;
        }

        @media (max-width: 767px) {}

        @media (max-width: 991px) {}

        @media (max-width: 1199px) {}

        @media (max-width: 1399px) {}
    }
}
